* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.user {
    margin: 2rem 0;
}

button {
    margin: 1rem 0;
    padding: 10px 15px;
    font-weight: 600;
}

h2 {
    margin: .5rem 0;
}